main {
    background: #000;
    height: 500px;
    width: 500px;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    margin: 100px 0 0 150px;
}

.blue {
    background: blue;
    height: 200px;
    width: 200px;
    border-radius: 0 100% 0 0;
    margin-left: 275px;
    margin-top: 37.5px;
}

.red {
    background: red;
    height: 200px;
    width: 200px;
    border-radius: 0 0 100% 0;
    margin-top: 25px;
    margin-left: 275px;
}

.yellow {
    background: yellow;
    height: 200px;
    width: 200px;
    border-radius: 100% 0 0 0;
    margin-top: -425px;
    margin-left: 25px;
}

.green {
    background: green;  
    height: 200px;
    width: 200px; 
    border-radius: 0 0 0 100%;
    margin-top: 25px;
    margin-left: 25px;
}

.other {
    display: flex;
    justify-content: center;
}
button {
    margin: 25px 0;
} 
.start-button {
    margin-right: 10px;
}
.score-board {
    display: flex;
    justify-content: center;
}
.score {
    border: 1px solid black;
    width: 75px;
    text-align: center;
}
