/* main {
    background: grey;
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 100%;
    margin: 250px 300px 0 0;
} */
/* .container1 {
    display: flex;
    justify-content: center;
}
.container2 {
    display: flex;
    justify-content: center;
} */
.blue {
    background: blue;
    height: 200px;
    width: 200px;
    border-radius: 0 100% 0 0;
    margin-left: 475px;
    margin-top: 250px;
}

.red {
    background: red;
    height: 200px;
    width: 200px;
    border-radius: 0 0 100% 0;
    margin-top: 25px;
    margin-left: 475px;
}

.yellow {
    background: yellow;
    height: 200px;
    width: 200px;
    border-radius: 100% 0 0 0;
    margin-top: -425px;
    margin-left: 250px;
}

.green {
    background: green;  
    height: 200px;
    width: 200px; 
    border-radius: 0 0 0 100%;
    margin-top: 25px;
    margin-left: 250px;
}

/* .game-button {
    background: greenyellow
} */
