.title {
    text-align: center;
    font-size: 64px
}

.game-buttons {
    /* background: #000; */
    /* height: 400px;
    width: 600px; */
    display: flex;
    justify-content: space-around;
}
/* .container1 {
    display: flex;
    justify-content: center;
}
.container2 {
    display: flex;
    justify-content: center;
} */
.blue {
    background: blue;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.red {
    background: red;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.yellow {
    background: yellow;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.green {
    background: green;  
    height: 200px;
    width: 200px; 
    border-radius: 100%;
}

.other {
    display: flex;
    justify-content: center;
}
button {
    margin: 25px 0;
} 
.start-button {
    margin-right: 10px;
}
.score-board {
    display: flex;
    justify-content: center;
}
.score {
    border: 1px solid black;
    width: 75px;
    text-align: center;
}
